:root {
  --bg-darkest: #161d1f;
  --bg-darker: #1b2223;
  --bg-dark: #232c2d;
  --fg-lighter: #f4efef;
  --fg-light: #cecaca;
  --fg-dark: #a1a1a1;
  --primary-lighter: #a2daff;
  --primary-light: #89d0ff;
  --secondary-lighter: #daffa2;
  --secondary-light: #d0ff89;
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  /* Using the GitHub font-family stack, which seems reasonable. */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 24px;
  background: var(--bg-darkest);
  color: var(--fg-lighter);
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#content {
  flex: auto;
}

a {
  text-decoration: none;
  color: var(--primary-light);
}

a:hover {
  text-decoration: underline;
  color: var(--primary-lighter);
}

header {
  overflow-x: clip;
  position: sticky;
  top: 0px;
  padding: 10px;
  margin-bottom: 10px;
  background: #eee;
  border-bottom: 1px solid var(--bg-darkest);
  background: var(--bg-dark);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.25em 0 0.5em 0;
}

p { 
  margin: 0.5em 0 0 0;
}

header label {
  cursor: pointer;
  padding: 4px 8px;
  margin: 4px 0;
  border: 1px solid var(--bg-darkest);
  background: var(--bg-darker);
  display: inline-block;
}

header label.disabled {
  opacity: 0.5;
}

header label:hover {
  background: var(--bg-darkest);
  border: 1px solid var(--fg-lighter);
}

.source-link {
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 120px;
  right: 0;
  width: 240px;
  transform: rotate(45deg);
  transform-origin: bottom right;
  background: rgba(30, 30, 30, 0.9);
  border: 1px solid rgba(200, 200, 200, 0.5);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.5), -2px 0 8px rgba(0, 0, 0, 0.5);
}

.source-link:hover {
  background: rgba(60, 60, 60, 0.95);
  text-decoration: none;
}

footer {
  padding: 10px;
  margin-top: 10px;
  background: var(--bg-darker);
  border-top: 1px solid var(--bg-darkest);
  box-shadow: 0 -8px 8px rgba(0, 0, 0, 0.2);
}

#intro,
.text-block {
  margin: 20px;
  padding: 20px;
  border: 1px solid var(--bg-darkest);
  background: var(--bg-dark);
}

#error {
  margin: 20px;
  padding: 20px;
  border: 1px solid var(--bg-darkest);
  background: var(--bg-dark);
  color: rgba(232, 64, 64, 0.9);
}

#charts {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.chart-container {
  padding: 10px;
  border: 1px solid var(--bg-darkest);
  background: var(--bg-dark);
}

.chart-container.year-specific-question {
  grid-column: 1 / 3;
}

.chart-note {
  margin: 10px 0;
  padding-top: 10px;
  font-size: 0.8rem;
  color: var(--fg-dark);
  border-top: 1px solid var(--bg-darkest);
}

.chart-description {
  padding: 0;
  margin-bottom: 10px;
  color: var(--fg-dark);
}

.chart-dump {
  border-top: 1px solid var(--bg-darkest);
  padding-top: 10px;
}

.chart-dump button {
  border: 1px solid transparent;
  padding: 8px;
  vertical-align: middle;
  text-align: center;
  background: var(--primary-light);
  color: var(--bg-dark);
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all 0.2s;
}

.chart-dump button:hover {
  background-color: var(--bg-darkest);
  color: var(--primary-light);
  transition: all 0.2s;
}

.datatable-scroll-wrapper {
  width: 100%;
  overflow-x: auto;
}

.datatable {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  border-collapse: collapse;
  width: 100%;
}

.datatable tbody tr:nth-child(odd) {
  background: var(--bg-darker);
}

.datatable tbody tr:hover {
  color: var(--secondary-light);
  background: var(--bg-darkest);
}

.datatable th {
  text-align: left;
}

.datatable th,
.datatable td {
  font-weight: normal;
  font-size: 0.9rem;
  border: 1px solid var(--fg-light);
  padding: 4px 6px;
}

.datatable thead th {
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  background: var(--bg-darkest);
}

.datatable .rawdata {
  display: flex;
  flex-direction: column;
}

.datatable .rawdata > span {
  display: inline-block;
  text-align: right;
}

@media (min-width: 1800px), (min-width: 960px) and (max-width: 1400px) {
  .datatable .rawdata {
    flex-direction: row;
  }

  .datatable .rawdata > span {
    padding-left: 10px;
    margin-left: auto;
  }
}

@media (max-width: 1400px) {
  #charts {
    grid-template-columns: 1fr;
  }

  .chart-container.year-specific-question {
    grid-column: 1 / 1;
  }
}

@media (max-width: 960px) {
  h1 {
    font-size: 1.2rem;
  }

  .source-link {
    padding: 5px;
  }

  .datatable {
    font-size: 0.7rem;
  }

  .datatable th,
  .datatable td {
    padding: 2px 4px;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 1.2rem;
  }

  .source-link {
    transform: none;
    position: initial;
    float: right;
    width: auto;
    padding: 4px 8px;
  }

  #charts, #intro {
    margin: 20px 10px;
  }
}
