* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

header {
  position: sticky;
  top: 0px;
  padding: 10px;
  margin-bottom: 10px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  box-shadow: 2px 0 4px #aaa;
}

header h1 {
  margin: 0 0 20px 0;
}

header label {
  cursor: pointer;
  padding: 4px 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

header label.disabled {
  opacity: 0.5;
}

header label:hover {
  background: #ddd;
}

footer {
  position: sticky;
  bottom: 0px;
  padding: 10px;
  margin-top: 10px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  box-shadow: 2px 0 4px #aaa;
  font-size: 0.8rem;
}

.chart-container {
  margin: 20px;
  padding: 10px;
  border: 2px solid #eee;
  background: #fafafa;
  max-width: 800px;
}